.topBar{
    background-color: #2C232F;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    
}

.top{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.namebox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.namebox h1{
    margin: 0px;
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    color: #B5ABAB;
    font-weight: 100;
}

.namebox h2{
    margin: 0px;
    font-family: "Cabin", sans-serif;
    color: #A28DF5;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
}

.name{
    text-decoration: none;
    color: #A28DF5;
}

.Icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logoutbutton{
    background: none;
    border: none;
    color: #A28DF5;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.gameContent{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.gameContentexp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Games{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Gamename img{
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.Gamename{
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    border: #A28DF5 1px solid;
    border-radius: 5px;
    justify-content: space-between;
}

.Gamename1{
    display: flex;
    gap: 30px;
    align-items: center;
}


.start-button{
    background-color: #A28DF5;
    color:black;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
}

.G1{
    background-color: #2C232F;
    max-width: fit-content;
    border-radius: 10px;
    border: none;
}

.G1 img{
    margin-top: 5px;
    cursor: pointer;
}
.title{
    padding: 2px;
    font-size: 18px;
    margin: 5px;
    text-align: left;
    align-items: flex-start;
    font-family: "Cabin", sans-serif;
    color: #ffffff;
}

.Genres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gen1{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    gap: 20px;
    background-color: #2C232F;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.rightText{
    text-align: left;
}

.rightText h5{
    margin: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    font-weight: 100;
}

.rightText h4{
    margin: 5px;
    color: #B5ABAB;
    font-size: 12px;
    font-weight: 100;
    font-family: "Cabin", sans-serif;
}